<footer class="row">
 <div id="footer-direct" class="col-md-1 text-center d-none d-md-block" >
    <p><a href="#top"><i class="bi bi-chevron-bar-up"></i></a></p>
 </div>
 <div id="footer-type" class="col-md-9 col-12 col-sm-12 d-none d-md-block" >
    <p><a href="{{ path('accueil.index')}}">accueil</a></p>
    <p><a href="{{ path('politique.index')}}">politique de sécurité</a></p>
    <p><a href="{{ path('app_login')}}">connexion</a></p>
    <p><a href="{{ path('panier.index')}}">panier</a></p>
    <p><a href="{{ path('contact.index')}}">contact</a></p>
    <p><a href="{{ path('apropos.index')}}">à propos</a></p>
    <p><a href="{{ path('paiement.index')}}">paiement sécurisé</a></p>
    <p><a href="{{ path('service.index')}}">service</a></p>
 </div>
 <div id="footer-contact1" class="col-md-2 col-12 col-sm-12 d-none d-md-block">
    <p>
    <a href="#"><i class="bi bi-linkedin"></i></a>
    <a href="#"><i class="bi bi-facebook"></i></a>
    <a href="#"><i class="bi bi-twitter"></i></a>
    </p>
 </div>
 <div id="footer-contact2" class="col-12 text-center">
    <br>
    <p>
        Ehpad Discount - 7, rue des archives<br>
        53 000 Laval<br>
        <i class="bi bi-telephone"></i> : 02 43 99 99 99 - <i class="bi bi-mailbox"></i> :
        contact@ehpaddiscount.fr<br>
        Copyright © France
    </p>
    <p class="d-block d-md-none">
        <a href="#"><i class="bi bi-linkedin"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
    </p>
 </div>
</footer>